:root {
    --sh-bg-body: #f8f9fa;
    --sh-bg-navbar: #e5e5e5;
    --sh-bg-main: #1b72e8;
    --sh-bg-badge: #165bba;
    --sh-bg-sidebar: #051e34;
    --sh-color-icon: #6c757d;
    --sh-size-bar: 4.375rem;
}

body {
    background-color: var(--sh-bg-body);
}

#sh-navbar {
    height: var(--sh-size-header);
}

.col-auto .sh-logosmall {
    max-width: 50px;
}

.sh-input-group > * {
    background-color: var(--sh-bg-navbar);
    border-color: var(--sh-bg-navbar);
}

.sh-input-group input:focus {
    background-color: var(--sh-bg-navbar);
    border: 1px solid var(--sh-bg-navbar);
}

#sh-navbar .row .col-auto ul > li {
    color: #5b5858;
}

#sh-navbar .sh-bell {
    color: #ff8f00;
}

#sh-navbar .col-auto li > a {
    all: unset;
}

#sh-container {
    width: 100%;
}

#sh-sidebar {
    background-color: var(--sh-bg-sidebar);
    background-image: url('/img/sidebar-bg.png');
}

#sh-sidebar li > a {
    all: unset;
}

#sh-sidebar ul > li:hover {
    background-color: var(--sh-color-icon);
}

#sh-main-top {
    background-color: var(--sh-bg-main);
    color: white;
}

.sh-btn {
    margin: 4px;
    border: 1px solid white;
}

button.sh-component-btn {
    all: unset;
    width: 30px;
    height: 30px;
    border: 2px solid var(--ec-color-icon);
    border-radius: 4px;
    vertical-align: middle;
    color: var(--ec-color-icon);
}

.sh-badge {
    background-color: var(--sh-bg-badge);
    display: inline-block;
}

#sh-main-top li > a {
    all: unset;
}

.breadcrumb-item.breadcrumb-item::before {
    padding: 0 8px;
    color: white;
}

.sh-w-40 {
    width: 40%;
}

.sh-w-10 {
    width: 10%;
}
@media screen and (min-width: 992px) {
    
    #sh-container #sh-sidebar {
        width: 150px;
    }

    #sh-right-main {
        width: calc(100% / 3);
    }

 }

 @media screen and (max-width:992px) {
    #sh-main .off-res {
        width: 100% !important;
    }
 }

 .sh-component-class {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.sh-component-class .sh-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}